body{
    margin: 0;
}
header{
    height: 635px;
    background-image: url(images/banner/banner3.png);
    background-size: 100%, 635px;
}
.headd{
    text-align: right;
    width: 50%;
    float: right;
    padding-top: 180px;
    padding-right: 180px;
}
.headd h1{
    color: white;
    font-size: 45px;
    font-weight: bolder;
}
.btn{

    color: blue;
    font-weight: 600;
    padding: 10px 18px;
}
.one{
    display: flex;
    gap: 70px;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 80px;
    margin-bottom: 80px;
}
.left img{
    height: 560px;
    width: 480px;
}
.right h1,p{
    padding-left: 23px;
}
.left, .right{
    width: 50%;
}
.two{
    margin-left: 140px;
    margin-right: 100px;
    margin-top: 0px;
    margin-bottom: 80px;
}
.icons{
    display: flex;
    gap: 40px;
    margin-left: 40px;
}
.plan{
    text-align: center;
    margin-bottom: 50px;
}
.icon{
    width: 200px;
}
.icon h1,h3{
    text-align: center;
}
.icon img{
    height: 70px;
    width: 70px;
    padding-left: 60px;
}
.three{
    margin-bottom: 80px;
    margin-left: 140px;
    margin-right: 100px;
    /* background-image: url(images/gradient1.png); */
    
}
.uniq{
    font-size: 22px;
    position: absolute;
    top: 25px;
    left: 64px;
    color: rgb(143, 205, 239);
}
.uniq2 button{
    position: absolute;
    top: 155px;
    left: 64px;
}
.container {
    position: relative;
}
.three img{
    width: 90%;
    margin-left: 28px;
    
}
footer{
    background-color: black;
}
.foot{
    display: flex;
    gap: 80px;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    align-items: center;
}
.first{
    width: 60%;
}
.first h1{
    padding-left: 20px;
}
.second{
    width: 40%;
}
.first h1,p{
    color: white;
}
.emaill{
    padding: 15px 25px;
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;

}
.ic{
    margin-left: 3px;
}
.ic img{
    height: 35px;
    width: 35px;
    margin-left: 13px;
}
.second h2{
    color: white;
}
.buttton{
    color: white;
    background-color: rgb(66, 66, 145);
    font-weight: 600;
    padding: 15px 24px;
    border: none;
    border-radius: 10px;
}
